$size__site-main: 100%;
$size__site-sidebar: 25%;

$width__entry-content: 900px;

$spacer__main: 6em;
$spacer__bg: 4em;

$breakpoint__small: 600px;
$breakpoint__medium: 830px;
$breakpoint__large: 1050px;